{% extends 'base.html' %}
{% load static %}
{% block title %} BlogHome {% endblock title %}

{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  })
</script>
{% endblock js %}

{% block homeactive %} active {% endblock %}

{% block body %}
  <div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/bg-img.png' %}" class="d-block img-responsive" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="fw-dark">Welcome to XBlog</h1>
          <p class="lead text-light">Something short and leading about the collection below—its contents, the creator, etc.
            Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
      </div>
    </div>
  </div>

  {% for post in posts %}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
      <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}" {{post.title}}> </a> </h3>
      <div class="mb-1 text-muted">{{post.datetime}}</div>
      <p class="card-text mb-auto">{{post.content|safe|truncatechars:500}}</p>
      <div class="my-2">
        <a href="/Blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
      </div>

    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="{{media_url}}{{post.image}}" class="bd-placeholder-img img-responsive" width="300" height="200">
    </div>

    {% endfor %}
  </div>
</div>
{% endblock body %}