{%extends 'base.html' %}
{% block title%}Post Your Blog{% endblock %}
{% block tinyjs %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#content',
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
      menu: {
        favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
      },
      menubar: 'favs file edit view insert format tools table help',
      content_css: 'css/content.css'
    });
  </script>
{% endblock tinyjs %}

{% block body %}

<h2 style="text-align: center; padding-top: 2%">Write Your Blog</h2>

<div class="container my-3">
    <form action="/Blog/upload" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" >
        </div>

        <div class="form-group">
            <label for="author">Name of Author</label>
            <input type="text" class="form-control" id="author" aria-describedby="emailHelp" name="author" >
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <input type="textarea" class="form-control" id="content"  name="content">
        </div>

        <div class="form-group">
            <label for="slug">Slug :</label>
            <input type="text" class="form-control" id="slug" aria-describedby="emailHelp" name="slug">
        </div>

        <div class="form-group">
            <label for="timeStamp">TimeStamp</label>
            <input type="datetime-local" class="form-control" id="timeStamp" aria-describedby="emailHelp" name="timeStamp" >
        </div>

        <div class="form-group">
          <label for="exampleFormControlFile1">Upload Image</label>
          <input type="file" class="form-control-file" id="file" name="file">
      </div>


        <div style="padding-top: 3%; padding-bottom: 3%;">
            <button type="submit" class="btn btn-primary">Post Blog</button>
        </div>
    </form>
</div>
{% endblock %}